@model QUICKIFYRepository.HistoriaUsuario

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4><strong>Historia de Usuario</strong></h4>
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-horizontal">

            <div class="form-group row">
                <div class="col-sm-5 mb-3 mb-sm-3">
                    <h6 style="color: black;">Titulo</h6>
                    @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @id = "txt_HU_Titulo", @class = "form-control", @placeholder = "Ingresar Titulo", @style = "color: black;" } })
                </div>
                <div class="col-sm-3">
                    <h6 style="color: black;">Prioridad</h6>
                    @Html.EditorFor(model => model.Prioridad, new { htmlAttributes = new { @id = "txt_HU_Prioridad", @class = "form-control form-control-user", @style = "color: black;" } })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-8 mb-3 mb-sm-3">
                    <h6 style="color: black;">Descripcion</h6>
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @id = "txt_HU_Descripcion", @class = "form-control form-control-user", @style = "color: black;" } })
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-5 mb-3 mb-sm-3">
                    <h6 style="color: black;">Fecha Estimada</h6>
                    @Html.EditorFor(model => model.FechaEstimada, new { htmlAttributes = new { @id = "txt_HU_FechaEstimada", @class = "form-control", @type = "date", @style = "color: black;" } })
                </div>
                <div class="col-sm-3">
                    <h6 style="color: black;">Sprint</h6>
                    @Html.EditorFor(model => model.Sprint, new { htmlAttributes = new { @id = "txt_HU_Sprint", @class = "form-control form-control-user", @style = "color: black;" } })
                </div>
                <div class="col-sm-3">
                    <h6 style="color: black;">Estado Kanban</h6>
                    @Html.EditorFor(model => model.EstadoKanban, new { htmlAttributes = new { @id = "txt_HU_EstadoKanban", @class = "form-control form-control-user", @style = "color: black;" } })
                </div>
            </div>

        </div>

        <div class="form-group row">


            <div class="col-md-offset-2 col-md-10">

                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" , @id = "btn_HU_Cancelar" })
                &nbsp; &nbsp;&nbsp;
                <input id = "btn_HU_Guardar" type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


