@model IEnumerable<QUICKIFYRepository.UserStories>

@using WebApp_QUICKIFY.Controllers

@{
    ViewBag.Title = "Backlog";
    Layout = "~/Views/Shared/_Layout.cshtml";


}


<h4><strong>Backlog</strong></h4>
@if (Model.Where(s => s.StateKanban != "TERMINADO").Count() == 1)
{
    <h6><strong>@Model.Where(s => s.StateKanban != "TERMINADO").Count() Historia de Usuario Pendiente</strong></h6>
}
else
{
    <h6><strong>@Model.Where(s => s.StateKanban != "TERMINADO").Count() Historias de Usuario Pendiente</strong></h6>
}

<br />
<p>
    @Html.ActionLink("Crear Historia de Usuario", "Create", null, new { @id = "btn_HU_Crear", @class = "btn btn-primary" })
</p>
<br />
<table style="color: black;" class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col"></th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Sprint)
            </th>
            <th scope="col">
                @Html.DisplayName("Responsable")
            </th>
            <th scope="col">
                @Html.DisplayName("Titulo")
            </th>

            <th scope="col">
                @Html.DisplayName("Descripcion")
            </th>
            <th scope="col">
                @Html.DisplayName("N° Tareas")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <th scope="row">
                <a href="@Url.Action("Edit","Backlog",new { id = item.Id })" title="Editar Historia de Usuario" class="btn btn-circle btn-sm btn-primary"><i class="fas fa-pen"></i></a>
                &nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("Delete","Backlog",new { id = item.Id })" title="Eliminar Historia de Usuario" class="btn btn-circle btn-sm btn-danger"><i class="fas fa-trash"></i></a>
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Sprint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @item.Tasks.Where( s => s.UserStory_Id == item.Id && s.isDelete == 0).Count()
            </td>
            <td>
                @*@Html.ActionLink("Añadir Tareas", "Create", "Tasks", new { id = item.Id }, new { @class = "btn btn-primary" })*@
                <a href="@Url.Action("Tasks","Tasks",new { id = item.Id })" title="Tareas" class="btn btn-circle btn-sm btn-primary"><i class="fas fa-layer-group"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
