@model QUICKIFYRepository.Tasks

@{
    ViewBag.Title = "Crear Tarea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="page-header pb-10 page-header-dark bg-gradient-primary-to-secondary">
    <div class="container-fluid">
        <div class="page-header-content">
        
            <h1 class="page-header-title">
                <div class="page-header-icon"><i data-feather="bar-chart"></i></div>
                <span>Crear Tarea</span>
            </h1>
            <div class="page-header-subtitle">Aquí puede crear una tarea para la historia de usuario.</div>
        </div>
    </div>
</div>
<div class="container-fluid mt-n10">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-xl-12 mb-4">
            <div class="card mb-4">

                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4><strong>Tarea</strong></h4>
                            <br />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group row">
                                <div class="col-sm-5 mb-3 mb-sm-3">
                                    <h6 style="color: black;">Titulo</h6>
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @id = "txt_Tasks_Title", @class = "form-control", @style = "color: black;" } })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-3">
                                    <h6 style="color: black;">Fecha Prevista</h6>
                                    @Html.EditorFor(model => model.IntendedDate, new { htmlAttributes = new { @id = "txt_Tasks_IntendedDate", @class = "form-control", @type = "datetime-local", @style = "color: black;" } })
                                    @Html.ValidationMessageFor(model => model.IntendedDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-8 mb-3 mb-sm-3">
                                    <h6 style="color: black;">Descripcion</h6>
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @id = "txt_Tasks_Description", @class = "form-control", @style = "color: black;" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>

                            </div>

                            <div class="form-group row">


                                <div class="col-md-offset-2 col-md-10">

                                    @Html.ActionLink("Cancelar", "Tasks", new { id = WebApp_QUICKIFY.Controllers.TasksController.Static_HU }, new { @class = "btn btn-danger", @id = "btn_Tasks_Cancelar" })
                                    &nbsp; &nbsp;&nbsp;
                                    <input id="btn_Tasks_Guardar" type="submit" value="Guardar" class="btn btn-primary" />
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>

    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
