@model IEnumerable<QUICKIFYRepository.UserStories>

@{
    ViewBag.Title = "Tareas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int allTask = 0;
    foreach (var item in Model)
    {
        allTask += item.Tasks.Where(s => s.isCompleted == 0 && s.isDelete == 0).Count();
    }
}




<div class="page-header pb-10 page-header-dark bg-gradient-primary-to-secondary">
    <div class="container-fluid">
        <div class="page-header-content">
  
            <h1 class="page-header-title">
                <div class="page-header-icon"><i data-feather="layers"></i></div>
                <span>Tareas</span>
            </h1>
            @if (allTask == 1)
            {
                
        <div class="page-header-subtitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @allTask Tarea Pendiente</div>
            }
            else
            {
        <div class="page-header-subtitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @allTask Tareas Pendientes</div>
            }

        </div>
    </div>
</div>
<div class="container-fluid mt-n10">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-xl-12 mb-4">
            <div class="card mb-4">

                <div class="card-body">
                    @foreach (var item in Model)
                    {

                        <h5><strong>Historia de Usuario</strong></h5>
                        <h6> @item.Title</h6>
                        <div class="datatable table-responsive">
                            <table style="color: black;" class="table">

                                <thead class="thead-light">

                                    <tr>
                                        <th scope="col">
                                            @Html.DisplayName("Titulo")
                                        </th>
                                        <th scope="col">
                                            @Html.DisplayName("Descripcion")
                                        </th>
                                        <th scope="col">
                                            Horas
                                        </th>
                                        <th scope="col">
                                            Estado
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var task in item.Tasks)
                                    {
                                        if (task.isDelete == 0)
                                        {
                                    <tr>
                                        <th scope="row">
                                            @Html.DisplayFor(modelItem => task.Title)
                                        </th>
                                        <td>
                                            @Html.DisplayFor(modelItem => task.Description)
                                        </td>
                                        <td>
                                            @task.IntendedDate
                                        </td>
                                        @if (task.isCompleted == 0)
                                        {
                                            <td>
                                                PENDIENTE
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                FINALIZADO
                                            </td>
                                        }
                                        <td>

                                            @if (task.isCompleted == 0)
                                            {
                                                @Html.ActionLink("Finalizar", "FinalizarTask", new { id = task.Id, UserStory_id = item.Id }, new { @id = "btn_Tasks_Finalizar", @class = "btn btn-danger" })
                                            }
                                            else
                                            {
                                                @Html.ActionLink("Restaurar", "RestaurarTask", new { id = task.Id, UserStory_id = item.Id }, new { @id = "btn_Tasks_Restaurar", @class = "btn btn-primary" })
                                            }
                                        </td>
                                    </tr>
                                        }

                                    }
                                </tbody>
                            </table>
                            <br />
                            <br />
                        </div>
                            
                            }


                        </div>
                    </div>
        </div>

    </div>

</div>

