@model IEnumerable<QUICKIFYRepository.Tasks>

@using WebApp_QUICKIFY.Controllers

@{
    ViewBag.Title = "Tareas segun Historia de Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";


}




<div class="page-header pb-10 page-header-dark bg-gradient-primary-to-secondary">
    <div class="container-fluid">
        <div class="page-header-content">
        
            <h1 class="page-header-title">
                <div class="page-header-icon"><i data-feather="bar-chart"></i></div>
                <span>@ViewBag.NameHU</span>
            </h1>
            <div class="page-header-subtitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Historia de Usuario</div>
        </div>
    </div>
</div>
<div class="container-fluid mt-n10">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-xl-12 mb-4">
            <div class="card mb-4">

                <div class="card-body">

                    <p>
                        @Html.ActionLink("Agregar Tarea", "Create", null, new { @id = "btn_Tasks_Crear", @class = "btn btn-primary" })
                    </p>
                    <br />
                    <div class="datatable table-responsive">
                        <table style="color: black;" class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.IntendedDate)
                                    </th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <th scope="row">
                                            <a href="@Url.Action("Edit",new { id = item.Id })" title="Editar Tarea" class="btn btn-primary btn-sm btn-icon"><i class="fas fa-pen"></i></a>
                                            &nbsp;&nbsp;&nbsp;
                                            <a href="@Url.Action("Delete",new { id = item.Id })" title="Eliminar Tarea" class="btn btn-danger btn-sm btn-icon"><i class="fas fa-trash"></i></a>
                                        </th>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @item.IntendedDate.ToString("dddd, dd MMMM yyyy")
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                       

                    </div>
                </div>
        </div>

    </div>

</div>
