@model IEnumerable<QUICKIFYRepository.HistoriaUsuario>

@{
    ViewBag.Title = "Kanban";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h4><strong>Tablero Kanban</strong></h4>
    <h5><strong>@DateTime.Now.ToString("dddd, dd MMMM yyyy")</strong></h5>
</div>
<!-- Content Row -->
<!-- Content Row -->

<div class="row">

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div  class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div style="background-color: #e4e7ec" class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"><strong>POR HACER</strong></h6>
            </div>

            <!-- Card Body -->
            <div style="background-color: #e4e7ec" class="card-body">

                @foreach (var item in Model)
                {

                    if (item.EstadoKanban == 1 && item.isDelete == 0)
                    {
                        <!-- AQUI TARJETAS -->
                        <div class="card shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">@item.Titulo</div>
                                        <div class="text-xs font-weight-bold text text-uppercase mb-1">@item.FechaEstimada.ToString("dddd, dd MMMM yyyy") </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    }

                }

            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-5">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div style="background-color: #e4e7ec" class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"><strong>EN CURSO</strong></h6>
            </div>
            <!-- Card Body -->
            <div style="background-color: #e4e7ec" class="card-body">


                @foreach (var item in Model)
                {

                    if (item.EstadoKanban == 2 && item.isDelete == 0)
                    {
                        <!-- AQUI TARJETAS -->
                        <div class="card shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">@item.Titulo</div>
                                        <div class="text-xs font-weight-bold text text-uppercase mb-1">@item.FechaEstimada.ToString("dddd, dd MMMM yyyy") </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    }

                }


            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-5">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div style="background-color: #e4e7ec" class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"><strong>TERMINADO</strong></h6>
            </div>
            <!-- Card Body -->
            <div style="background-color: #e4e7ec" class="card-body">
                @foreach (var item in Model)
                {

                    if (item.EstadoKanban == 3 && item.isDelete == 0)
                    {
                        <!-- AQUI TARJETAS -->
                        <div class="card shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">@item.Titulo</div>
                                        <div class="text-xs font-weight-bold text text-uppercase mb-1">@item.FechaEstimada.ToString("dddd, dd MMMM yyyy") </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    }
                }
            </div>
        </div>
    </div>
</div>
