@model QUICKIFYRepository.Usuario

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SI657 - QUICKIFY</title>

    <link href="/Resources/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/Resources/css/sb-admin-2.min.css" rel="stylesheet">

</head>
<body class="bg-primary">
    @using (Html.BeginForm())
    {

        <div class="container">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                        <div class="col-lg-7">
                            <br/>
                            <br/>
                            <br/>
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4"><strong>Crear una Cuenta !</strong></h1>
                                </div>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <form class="user">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { qid = "txt_Auth_Name" ,@type = "text", @class = "form-control form-control-user", @placeholder = "Nombres y Apellidos" } })
                                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @id = "txt_Auth_Email" ,@class = "form-control form-control-user", @placeholder = "Email", @type = "email" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            @Html.DropDownList("Cargo_Id", null,htmlAttributes: new { @id = "ddl_Auth_Cargo" , @class = "form-control form-control-user" })
                                            @Html.ValidationMessageFor(model => model.Cargo_Id, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @id = "txt_Auth_Password",  @type = "password", @class = "form-control form-control-user", @placeholder = "Contraseña" } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <input id="btn_Auth_Registrar" type="submit" value="Registrar" class="btn btn-primary btn-user btn-block" />
                                    <hr>

                                </form>

                                <div class="text-center">
                                    <a id="btn_Auth_Login" class="small" href="@Url.Action("Login", "Auth")">¿Ya tienes una cuenta? Login!</a>
                                </div>
                            </div>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    }
    
    <script src="/Resources/vendor/jquery/jquery.min.js"></script>
    <script src="/Resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Resources/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/Resources/js/sb-admin-2.min.js"></script>

</body>

</html>
